.courses-container {
  width: 90vw;
  height: 95vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  flex-basis: 25vw;
  flex-wrap: wrap;
}
.courses-container li {
  list-style-type: none;
}
