.course-card
    border-style dotted 
    width 30vw
    height 40vh
    display flex
    flex-direction column
    justify-content space-around
    overflow auto
    box-shadow 5px 8px #888888
    margin-top 2em

    .card--title
        font-size 25px
